{% extends 'base.html' %}

{% block content %}

    <div class="container my-5">
        <!-- <section class="hero-section text-center bg-light" style="padding: 150px;">
            <div class="container">
                <h1 class="display-4 fw-bold">Nous réjoindre</h1>
                <p class="lead mt-3">Votre partenaire de confiance pour l'achat, la location et l'entretien de voitures.</p>
            </div>
        </section> -->

        <br/><br/><br/><br/>
        <div class="row align-items-center">

            <div class="alert alert-primary text-center" role="alert">
                Cette fonctionnalité est actuellement en développement.
                <h6 style="font-weight:bold;">Pour nous réjoindre Veuillez nous contacter au numero suivant: <a href="https://wa.me/225014017683" target="_blank">01 40 01 76 83</a> !<br>
                    Vous pouvez également nous contacter par mail à : <a href="mailto:contacts@djona.net">contacts@djona.net</a>
                </h6>

                <p>Nous sommes situés à : <strong>Angré 9ème Tranche, non loin de CGK</strong></p>
            </div>

        </div>
    </div>


{% endblock %}
